
//Warning button (orange)
.tm-button-warning {
  background-color: @button-warning-background;
  color: @button-warning-color;
}

/* Hover + Focus */
.tm-button-warning:hover,
.tm-button-warning:focus {
  background-color: @button-warning-hover-background;
  color: @button-warning-hover-color;
}

/* OnClick + Active */
.tm-button-warning:active,
.tm-button-warning.uk-active {
  background-color: @button-warning-active-background;
  color: @button-warning-active-color;
}